command.txt
web/inventory/
inventory/
lab/**/*.tfstate
lab/**/*.tfstate.backup
lab/trout-image
killchains/**/samples
terraform.tfstate
terraform.tfstate.backup
zip
lab/.terraform/
tools/Killchain2Stix/myenv/
lab/current-experience/incus-setup-lab.tf
lab/current-experience/*